@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #a79885;
  --color-secondary: #8c0605;
  --font-main: "Urbanist", sans-serif;
}